<nav class="container-fluid py-2 bg-light">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-row align-items-center">
        <img id="logo" src="/assets/logo.png" alt="Portal Teste">
        <span class="text-uppercase lead px-1 border-end">
          Marca
        </span>
        <span class="text-bold px-1">
          Portal Teste
        </span>
      </div>
    </div>
    <div class="col d-flex flex-row-reverse bd-highlight">
      <ul class="nav navbar-light bg-light">
        <li class="nav-item">
          <a class="nav-link nav-link-text" href="#">
            <i class="bi bi-gear"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-text" href="#">
            Sair <i class="bi bi-box-arrow-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
