<!-- Page Wrapper -->
<div class="d-flex position-component">
  <!-- Page content -->

  <div class="d-flex flex-column flex-fill">
    <div class="container-fluid mt-1">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
          <li class="breadcrumb-item"><a routerLink="/listar">Bens</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Cadastrar
          </li>
        </ol>
      </nav>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Cadastro de bens</h5>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="geral-tab" data-bs-toggle="tab" data-bs-target="#geral" type="button"
                role="tab" aria-controls="geral" aria-selected="true">Geral</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="bens-tab" data-bs-toggle="tab" data-bs-target="#bens" type="button"
                role="tab" aria-controls="bens" aria-selected="true">Bens</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="observacoes-tab" data-bs-toggle="tab" data-bs-target="#observacoes"
                type="button" role="tab" aria-controls="observacoes" aria-selected="true">Observações</button>
            </li>
          </ul>

          <div class="tab-content mt-2" id="myTabContent">
            <!-- Aba Geral -->
            <div class="tab-pane fade show active" id="geral" role="tabpanel" aria-labelledby="geral-tab">
              <form>
                <div class="row g-3">
                  <div class="col">
                    <label for="numero" class="form-label">Número</label>
                    <input type="text" class="form-control" id="numero" disabled>
                  </div>
                  <div class="col">
                    <label for="prestador" class="form-label">Fornecedor(razão social)</label>
                    <input type="text" class="form-control" id="prestador">
                  </div>
                  <div class="col">
                    <label for="prestador" class="form-label">Nota fiscal</label>
                    <input type="text" class="form-control" id="prestador">
                  </div>
                  <div class="row g-3 mt-1">
                    <div class="col">
                      <label for="prestador" class="form-label">Item da Nota fiscal</label>
                      <input type="text" class="form-control" id="prestador">
                    </div>
                    <div class="col">
                      <label for="prestador" class="form-label">Quantidade Vinculada</label>
                      <input type="text" class="form-control" id="prestador" disabled>
                    </div>
                    <div class="col">
                      <label for="valor" class="form-label">Quantidade Disponível</label>
                      <input type="number" class="form-control" id="valor" disabled>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- // Aba Geral -->
            <!-- Aba Bens -->
            <div class="tab-pane fade" id="bens" role="tabpanel" aria-labelledby="bens-tab">
              <div class="card">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <h5 class="card-title">Bens</h5>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                      data-bs-target="#cadastrarBemModal">
                      <i class="bi bi-plus-lg"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tombamento</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Itens</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let c of contratos; let i = index">
                        <th scope="row">{{ c.id }}</th>
                        <td>{{ c.tombamento }}</td>
                        <td>{{ c.produto }}</td>
                        <td>{{ c.valor }}</td>
                        <td>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#visualizarItemModal">
                            <i class="bi bi-search"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th scope="row">Total</th>
                        <td></td>
                        <td></td>
                        <td>R$ 60,00</td>
                        <td></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>

            </div>

            <div class="tab-pane fade" id="observacoes" role="tabpanel" aria-labelledby="observacoes-tab">
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label lead align-items-center">Observações</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </div>
            <!-- // Aba Bens -->
          </div>

        </div>
        <!--
          <div class="alert alert-success text-center mt-1" role="alert">
            OK
          </div>
         -->
        <div class="card-footer">
          <div class="d-flex justify-content-end">
            <div class="btn-group gap-1" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary">Voltar</button>
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- // Page content -->
</div>
<!-- // Page Wrapper -->

<!-- Modal Visualizar Bem -->
<div class="modal fade" id="visualizarItemModal" tabindex="-1" aria-labelledby="visualizarItemModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visualizarItemModal">Visualizar item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Estado</dt>
          <dd>Bom</dd>

          <dt>Situação de uso</dt>
          <dd>Em uso</dd>

          <dt>Marca</dt>
          <dd>Marca 1</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cadastrar Bem -->
<div class="modal fade" id="cadastrarBemModal" tabindex="-1" aria-labelledby="cadastrarBemModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cadastrarBemModal">Adicionar bem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tab-pane fade show active" id="geral" role="tabpanel" aria-labelledby="geral-tab">
          <form>
            <div class="row g-3">
              <div class="col">
                <label for="numero" class="form-label">Quantidade</label>
                <input type="text" class="form-control" id="numero">
              </div>
              <div class="col">
                <label for="prestador" class="form-label">Marca</label>
                <input type="text" class="form-control" id="prestador">
              </div>
              <div class="col">
                <label for="valor" class="form-label">Valor unitário</label>
                <input type="number" class="form-control" id="valor" disabled>
              </div>
            </div>
            <div class="row g-3 mt-1">
              <div class="col">
                <label for="inicio_vigencia" class="form-label">Início da garantia</label>
                <input type="date" class="form-control" id="inicio_vigencia">
              </div>
              <div class="col">
                <label for="termino_vigencia" class="form-label">Término da garantia</label>
                <input type="date" class="form-control" id="termino_vigencia">
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label lead align-items-center">Observações</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Adicionar</button>
      </div>
    </div>
  </div>
</div>
