#sidebar {
  width: 230px;
  padding: 10px;
  background-color: #142749;
  height: 100vh;
}
.sidebar-heading {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: 700;
  color: #ffff;
  font-size: .8rem;
}
